:root {
    --black: #000;
    --green: #67cd31;
    --blue: #009ad9;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(fonts/Poppins-Medium.ttf);
}

body {
    background-image: url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-family: Poppins-Bold;
}

label {
    font-size: 14px;
    font-family: Poppins-Medium;
}

body > div {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

.LogoBox {
    width: 100%;
    padding: 10% 0;
}

.LogoBox img {
    width:100%;
    padding: 0 20%;
    box-sizing: border-box;
}

.LoginBox {
    box-shadow: 0px 2px 15px rgba(0,0,0,0.25);
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.LoginBox label, .LoginBox input {
    width:100%;
    font-weight: bold;
    font-size: min(2vw,2vh);
}

.LoginBox input {
    font-size: min(5vw,5vh);
}

.LoginButton {
    background-color: var(--green);
    width:100%;
    font-size: 3vw;
    color: white;
    font-size: min(3vw,3vh)!important;
}

.LoginBox a {
    color: var(--blue)
}

.FullSize {
    height: 100%;
    width: 100%;
}

.Card {
    border-radius: 8px;
    padding: 5%;
    box-sizing: border-box;
    border: none;
}

.Card li {
    list-style-type: none;
}
